
<mat-toolbar>

  <a mat-icon-button routerLink="/"><img alt="Home" class="home-icon" title="Home" src="assets/img/logo.png"></a>ClientPanel
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" [hidden]="menu.items.length == 0">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="isLoggedIn" routerLink="/settings">Settings</button>
    <button mat-menu-item *ngIf="isLoggedIn" (click)="onLogoutClick()">Logout</button>
    <button mat-menu-item *ngIf="!isLoggedIn&&showRegister" routerLink="/register">Register</button>
    <button mat-menu-item *ngIf="!isLoggedIn&&showRegister" routerLink="/login">Login</button>
  </mat-menu>
</mat-toolbar>
<br><br>
