<!-- <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
      very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->

<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-block">
        <img class="mx-auto d-block" src="assets/img/logo.png" alt="client panel logo">
        <h1 class="text-center">Login</h1>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" [(ngModel)]="email" name="email" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" [(ngModel)]="password" name="password" class="form-control" required>
          </div>
          <input type="submit" class="btn btn-primary btn-block" value="submit">
        </form>
      </div>
      <div class="card-block">
        <a routerLink="/phone" class="btn btn-info btn-block"><i class="fa fa-phone"></i> Login with Phone</a>
      </div>
      <div class="card-block">
        <a (click)="loginWithGoogle()" class="btn btn-secondary btn-block">
          <img class="img-responsive" style="max-height: 1.5em;" src="assets/img/google.svg" alt="Google logo"> Login With Google
        </a>
      </div>
      <div class="card-block">
        <a (click)="loginWithFacebook()" class="btn btn-primary btn-block"> <i class="fa fa-facebook"></i> Login With Facebook</a>
      </div>
    </div>
  </div>
</div>